<div class="main-view">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto" style="margin-top: 3em"></div>
      <div class="col-md-auto" style="margin-top: 7em">
        <div class="dropdown" appDropdown>
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ selected ? selected : "Select City" }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let city of cities"
              (click)="setCity(city)"
              >{{ city }}</a
            >
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selected" class="row" style="margin-top: 4em">
      <div class="col-md-6"><app-tracker></app-tracker></div>
      <div class="col-md-6"><app-statistics></app-statistics></div>
    </div>
  </div>
</div>
