<div class="card" style="color: #000">
  <div class="card-container">
    <table class="table" style="margin-bottom: 0">
      <thead>
        <tr>
          <th scope="col" style="border-top: none">{{ tracker?.mode }}</th>
          <th scope="col" style="border-top: none">
            <span class="degree-temp"
              >{{ tracker?.mean_temp | number: "1.0-0" }} &#176;C</span
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Min Temperture</th>
          <td>
            <span class="degree-temp table-temp"
              >{{ tracker?.min_temp | number: "1.0-0" }} &#176;C</span
            >
          </td>
        </tr>
        <tr>
          <th scope="row">Max Temperture</th>
          <td>
            <span class="degree-temp table-temp"
              >{{ tracker?.max_temp | number: "1.0-0" }} &#176;C</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
