/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

.main-view {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  min-height: 100vh;
}

.open .dropdown-menu {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}

.card {
  font-size: small;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  border-radius: 25px;
  position: relative;
}

.degree-temp {
  margin-left: 5.2em;
  white-space: nowrap;
  font-weight: bold;
}

tbody th {
  font-size: 0.8em;
}

.table-temp {
  font-size: 0.8em;
  margin-left: 7.5em;
}

.card-container {
  margin: 1em;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.2em 0 0em 1em;
}
